<nav class="navbar navbar-expand-sm navbar-light header">
  <div>

  </div>
  <!-- <div class="description">
    <p>Doctors</p>
    <p style="font-size:15px">Book an appointment</p>
  </div> -->
  <ul class="navbar-nav ">
    <li class="nav-item active nav-link1">
      <a class="nav-link" href="#">Doctors </a>
      <p class="sub-heading1">Book an appointment</p>
    </li>
    <li class="nav-item navigation-items">
      <a class="nav-link active" href="#">Pharmacy</a>
      <p class="sub-heading1">Medicine and health products</p>
    </li>
    <li class="nav-item navigation-items">
      <a class="nav-link active" href="#">Diagnostics</a>
      <p class="sub-heading1">Book tests and checkups</p>
    </li>
    <li>
      <!-- <p style="padding-left: 450px; padding-top: 17px;color:#13bef0" routerLink="auth/signup">SignUp</p> -->
    </li>
  </ul>
 
</nav>
