.header{
    border-bottom: 1px solid slategrey;
    background-color: white;
}

.description{
    font-size:16px;
    padding-left:150px;
    padding-top:10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.nav-link1{
     padding-left: 150px; 
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.sub-heading1{
    margin-bottom: 0;
    padding-left: 8px; 
    color: grey;
    font-size: 11px;
    padding-top: 0px;
}

.navigation-items{
    padding-left: 25px
}

