<div class="container-fluid">
	<!-- Control the column width, and how they should appear on different devices -->
	<div class="row">
		<div class="col-sm-6">
			<div style="padding-top: 20px" class="vertical-flex">
				<img src="assets/images/illustration.svg" class="register-side-img" alt="marketplace" />
			</div>
		</div>
		<div class="col-sm-6 ">
			<div class="contents">
				<h5 style="color:#2594fa; text-align: center;padding-top: 20px">Register</h5>
				<form [formGroup]="signupForm" (submit)="onSubmit(signupForm.value)">
					<div style="padding-left: 20px">
						<span style="font-size: 15px;font-family: 'Camphor';color: #787887;">Full Name</span>
						<input style="margin-top:8px" formControlName="fullName" class="email" type="text" placeholder="Enter Full Name">
						<div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
							<div *ngIf="f.fullName.errors.required">Name is required</div>
						  </div>
					</div>
					<div style="padding-left: 20px; margin-top:10px;">
						<span style="font-size: 15px;font-family: 'Camphor';color: #787887;">Email ID</span>
						<input style="margin-top:8px" formControlName="email" class="email" type="text" placeholder="Email ID">
						<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
							<div *ngIf="f.email.errors.required">Email is required</div>
						  </div>
					</div>
					<div style="padding-left: 20px; margin-top:10px;">
						<span style="font-size: 15px;font-family: 'Camphor';color: #787887;"> Create Password</span>
						<input style="margin-top:8px" formControlName="password" class="email" type="text" placeholder="Enter Password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
						<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
							<div *ngIf="f.password.errors.required">Password is required</div>
						  </div>
					</div>
					<div style="padding-left: 20px; margin-top:10px;">
						<span style="font-size: 15px;font-family: 'Camphor';color: #787887;"> Phone Number</span>
						<input style="margin-top:8px" formControlName="phoneNumber" class="email" type="text" placeholder="Enter Phone Number"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
						<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
							<div *ngIf="f.password.errors.required">Password is required</div>
						  </div>
					</div>
					<div style="padding-left: 20px; margin-top:10px;">
						<span style="font-size: 15px;font-family: 'Camphor';color: #787887;"> Country Phone Code</span>
						<input style="margin-top:8px" formControlName="countryCode" class="email" type="text" placeholder="Enter Country Code"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
						<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
							<div *ngIf="f.password.errors.required">Password is required</div>
						  </div>
					</div>
					<!-- <h6 class="forgot-password">Forgot Password?</h6> -->
					<div style="padding-left: 20px; margin-top:30px">
						<!--<button type="button" class="btn login-button" type="submit" (click)="onSub()">Send OTP</button>-->
            <button type="button" class="btn login-button" type="submit" (click)="signupViaCoginto()">Register</button>
					</div>
				</form>
			</div>
			<p style="color: #2594fa;font-family: Georgia, 'Times New Roman', Times, serif;font-size:14px;text-align: center;padding-top: 20px" routerLink="/auth/login">Already a User?Login</p>
		</div>
	</div>
</div>
