<div class="container-fluid">
  <!-- Control the column width, and how they should appear on different devices -->
  <div class="row">
    <div class="col-sm-6">
      <div style="padding-top: 20px" class="vertical-flex">
        <img src="assets/images/illustration.svg" class="register-side-img" alt="marketplace" />
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="contents">
        <h5 style="color:#2594fa; text-align: center;padding-top: 20px">Login</h5>
        <form [formGroup]="loginForm">
          <div style="padding-left: 20px">
            <p style="font-size: 15px;font-family: 'Camphor';
        color: #787887;">Email ID</p>
            <input formControlName="email" class="email" type="text" placeholder="Email ID">
          </div>
          <div style="padding-left: 20px">
            <p style="font-size: 15px;font-family: 'Camphor';
        color: #787887; padding-top:10px;">Password</p>
            <input formControlName="password" class="email" type="password" placeholder="Password">
          </div>
          <div style="padding-left: 20px ; margin-top: 30px">
            <button type="button" (click)="loginViaCognito()" class="btn login-button">Login</button>
          </div>
        </form>
        <h6 class="forgot-password" routerLink="/auth/forgotpassword">Forgot Password?</h6>
      </div>
    </div>
  </div>
</div>
