<div style="  border:solid 1px rgba(216,216,216,0.5);width:650px;margin-top:150px;margin-left:350px;">
  <p style="padding-top:10px;padding-left: 10px;color: #162643;
  font-size: 16px;">Find Your Account</p>
  <hr style="margin-left: 10px;margin-right: 20px;">
  <p style="font-size: 12px;padding-left:100px;">Please enter your email address to search for your account</p>
  <input style="margin-left:100px; margin-bottom: 30px; width:300px;  border: 1px solid #ccd0d5;
  border-radius: 0;
  padding: 3px;" placeholder="email address">
  <div style=" height: 40px;   background-color: #f2f2f2;
  border: 1px solid #ccc;">
  <div style="float: right;margin-top: 6px;margin-bottom: 10px;margin-right:10px;height:20px;text-align: center;padding-bottom: 10px">
  <button style="color: #4b4f56;;background-color: none;border-radius: 3px;border:none;font-size: 14px" routerLink="/auth/login"> cancel</button>
</div>
<div style="float: right;margin-top: 6px;margin-bottom: 10px;margin-right:10px;margin-left:10px;height:20px;">
<button style="color:white;background-color: #385898;border-radius: 3px;border:none;font-size: 14px" > submit</button>
</div>
  </div>
</div>
