<div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
      
      <div class="col-sm-6 ">
        <div class="contents">
          <h5 style="color:#2594fa;padding-left:20px;padding-top: 20px">Hello Dr.{{fullName}}!</h5>
          <form [formGroup]="profileForm">
            <div style="padding-left: 20px">
              <p style="font-size: 15px;font-family: 'Camphor';
          color: #787887;">Name</p>
              <input formControlName="name" class="email" type="text" placeholder="please enter your name">
            </div>
            <div style="padding-left: 20px">
         <div class="form-group">
            <p style="font-size: 15px;font-family: 'Camphor';
            color: #787887; padding-top:10px;">Specialization</p>
            <select formControlName="specialization" style="width: 95%;
            height: 35px;" class="form-control" id="sel1">
              <option disabled>select Specialization</option>
              <option>Dentist</option>
              <option>General Physician</option>
              <option>Pediatrician</option>
              <option>Ayurveda</option>
              <option>Orthopedist</option>
              <option>Dental Surgeon</option>
              <option>Dermatologist</option>
              <option>General Surgeon</option>
            </select>
          </div>
          <p style="font-size: 15px;font-family: 'Camphor';
          color: #787887; padding-top:10px;">Gender</p>
          <div class="form-check-inline">
              <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="radio1" name="gender" value="Male" checked style="font-size: 15px;font-family: 'Camphor';
                color: #787887; padding-top:10px;"  >Male
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio2">
                <input type="radio" class="form-check-input" id="radio2" name="gender" value="Female" style="font-size: 15px;font-family: 'Camphor';
                color: #787887; padding-top:10px;"  >Female
              </label>
            </div>
            </div>
            <div style="padding-left: 20px">
                <p style="font-size: 15px;font-family: 'Camphor';
            color: #787887;">City</p>
                <input formControlName="city" class="email" type="text" placeholder="please enter your city">
              </div>
            <div style="padding-left: 20px ; margin-top: 30px">
              <button type="button" class="btn login-button" (click)="submitProfile()">Continue</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-6">
          <div style="padding-top: 20px" class="vertical-flex">
            <img src="assets/images/profile.jpeg" style="    height: 291px;
            margin-top: 89px;" class="register-side-img" alt="marketplace" />
          </div>
        </div>
    </div>
  </div>