.contents{
    margin-top:48px;
    margin-left: 100px;
    margin-right: 50px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    border:solid 1px rgba(216,216,216,0.5);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.email{
    border: solid 1px #cacad3;
    border-radius: 3px;
    padding-left: 9px;
    font-family: 'Camphor';
    color: #787887;
    font-size: 14px;
    font-weight: 400;
    width:95%;
    height:30px;
}

.forgot-password{
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-left: 150px; */
    color:#2594fa;
    font-size: 12px;
    text-align: center;
}

.sign-up{
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-left: 150px; */
    color:#2594fa;
    font-size: 12px;
    text-align: center;
}

.login-button{
    width:95%;
    background: #13bef0;
    color:white;
}